<!doctype html>
<html ng-app="app">
  
  <head>
    <script src="//ajax.googleapis.com/ajax/libs/angularjs/1.2.5/angular.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/angular-ui-bootstrap/0.6.0/ui-bootstrap-tpls.min.js"></script>
    <script src="angular-drag-drop-0.0.1.js"></script>
    <script src="resources/app.js"></script>
    <link href="//netdna.bootstrapcdn.com/twitter-bootstrap/2.3.1/css/bootstrap-combined.min.css" rel="stylesheet">
    <link href="resources/app.css" rel="stylesheet">
    
    <meta name="google-site-verification" content="7e9Q1ZOEXFr2CYeqIvg5kJZwI6lOpmNmWdQuXn0ndsg" />
    <link rel="author" href="https://plus.google.com/+GabrieleRabbiosi">
    
    <script>
      (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
      (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
      m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
      })(window,document,'script','//www.google-analytics.com/analytics.js','ga');
    
      ga('create', 'UA-41055822-2', 'redaemn.github.io');
      ga('send', 'pageview');
    
    </script>
  </head>
  
  <body>
    <div>
      <h2>Simple Draggable Example</h2>
      <div ng-controller="simpleDraggableCtrl">
        <div>
          Revert to starting position: <input type="checkbox" ng-model="revertToStart">
        </div>
        <div>
          Reset model on stop: <input type="checkbox" ng-model="resetOnStop">
        </div>
        <div>
          Drag status: {{dragStatus}} - Drag number: {{draggableModel.num}}
        </div>
        
        <div>
          <div class="simpleDraggableContainer">
            <div class="simpleDraggable" draggable="draggableModel" drag-begin="dragStart(pageX, pageY, draggable)"
            drag="drag(pageX, pageY, draggable)" drag-stop="dragStop(pageX, pageY, draggable)"
            revert-on-stop="revertOnStop()">Drag me!</div>
          </div>
        </div>
        
      </div>
    </div>
    
    <div>
      <h2>Draggable events</h2>
      <div ng-controller="draggableEventsController">
        <div class="simpleDraggable" draggable="draggableModel" drag-begin="dragStart(pageX, pageY, draggable)"
        drag="drag(pageX, pageY, draggable)" drag-stop="dragStop(pageX, pageY, draggable)">Drag me!</div>
      </div>
    </div>
    
    <div>
      <h2>Draggable with handler</h2>
      <div class="simpleDraggableContainer">
        <div class="simpleDraggable" revert-on-stop="true" draggable>
          <div draggable-handle>Dragging handle</div>
          <div>You can drag me only through the handle</div>
        </div>
      </div>
    </div>
    
    <div>
      <h2>Draggable and Droppables</h2>
      <div ng-controller="draggablesAndDroppablesController">
        
        <div ng-repeat="appointment in appointments">
          Appointment {{appointment.id}}: {{appointment}}
          <button ng-click="increment(appointment)">+</button>
          <button ng-click="decrement(appointment)">-</button>
        </div>
        
        <div ng-repeat="day in days">Day {{$index + 1}}: {{day}}</div>
        
        <div class="calendar">
          <div ng-repeat="day in days" droppable="day" ng-class="{draggableOver: isDraggableHover}" draggable-drop="draggableDrop(draggable, droppable)">
            <p>Day {{$index + 1}}</p>
            <div ng-repeat="appointment in day" class="dragMe" ng-class="{'animate-move': appointment.animateMove}" draggable="appointment" drag-begin="dragStart(draggable)" revert-on-stop="revert()">
              <p>Appointment {{appointment.id}}</p>
            </div>
          </div>
        </div>
        
      </div>
    </div>
  </body>

</html>
