div[draggable], div[droppable] {
    background-color: white;
}

div.dragMe {
    height: 20px;
    width: 100px;
    border: 1px solid red;
    text-align: center;
}

div#dropHere {
    height: 120px;
    width: 120px;
    border: 1px solid green;
    margin-top: 50px;
}

div#dropHereToo {
    height: 120px;
    width: 120px;
    border: 1px solid yellow;
    margin-top: 50px;
}

div#dropThree {
    height: 120px;
    width: 120px;
    border: 1px solid blue;
    margin-top: 50px;
}

div.draggableOver {
    background-color: rgba(255, 0, 255, .5);
}
