body {
  margin: 10px;
}

div[draggable], div[droppable] {
  background-color: white;
}

.simpleDraggable {
  display: inline-block;
  min-height: 20px;
  min-width: 100px;
  border: 1px solid red;
  text-align: center;
  position: absolute;
  top: 20px;
  right: 0;
}

.simpleDraggableContainer {
  border: 1px solid red;
  display: inline-block;
}

.simpleDraggable div[draggable-handle] {
  border: 1px solid green;
}

.dragMe {
  height: 20px;
  width: 100px;
  border: 1px solid red;
  text-align: center;
}

.reverting-position {
  transition: top 1s, left 1s;
  -webkit-transition: top 1s, left 1s;
}

#dropHere {
  height: 120px;
  width: 120px;
  border: 1px solid green;
  margin-top: 50px;
}

#dropHereToo {
  height: 120px;
  width: 120px;
  border: 1px solid yellow;
  margin-top: 50px;
}

#dropThree {
  height: 120px;
  width: 120px;
  border: 1px solid blue;
  margin-top: 50px;
}

div[droppable].draggableOver {
  background-color: rgba(255, 0, 255, .5);
}
